<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>HomeЯК_Услуги</title>
    <link rel="icon" href="img/196817.png" type="image/x-icon">
    <link rel="shortcut icon" href="img/196817.png" type="image/x-icon">

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic&amp;subset=cyrillic">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css?ver=5.0.3' type='text/css'
          media='all'/>
    <link rel='stylesheet' id='art_net_theme-material-icons-css'
          href='https://fonts.googleapis.com/icon?family=Material+Icons&#038;ver=5.0.3' type='text/css' media='all'/>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

    <link rel="stylesheet" href="./css/ant006_header.css">
    <link rel="stylesheet" href="./css/ant007_footer.css">
    <link rel="stylesheet" href="./css/ant029_shop.css">
    <link rel="stylesheet" href="./css/ant086_breadcrumbs.css">


</head>

<body>

<header id="ant-section__ant006_header" class="one two" style="background-color: #f5f5f5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12 col-sm-6 col-6  ant006_header-logo">
                <img src="https://i.pinimg.com/originals/e9/66/b7/e966b7a2c6be0f6911c8e3148fe03aaf.gif"
                     style="height: 75px">
                <a href="#0" title="Конструктор сайтов - Art Builder">HomeЯК </a>
            </div>
            <div class="col-lg-9 col-sm-6 col-md-12 col-6 ant006_header-menu-wrap">
                <div class="ant006_header-toggle">
                    <i class="material-icons">menu</i>
                </div>
                <nav class="ant006_header-container">
                    <ul class="menu">
                        <li><a href="/main_site">Главная</a></li>
                        <li class="menu-item"><a href="#">Новости</a></li>
                        <li class="menu-item"><a href="/contacts">Контакты</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>

<section class="ant-section__ant086_breadcrumbs">
    <div class="ant-section__ant086_breadcrumbs-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="ant086_breadcrumbs-wraaper-det">
                        <h3>Услуги которые мы предоставляем</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="ant029_shop" class="ant029_shop_container">
    <div class="container">
        <div class="row">

            <main class="col-lg-12 col-xs-12 ant029_shop-studio_shop_area">
                <div class="row">

                    <div class="col-md-3 col-sm-6">
                        <div class="ant029_shop-single_shop">
                            <div class="ant029_shop-project_link">
                                <a href="#" class="wow fadeIn" data-wow-delay=".2s">
                                    <img src="https://www.dvec.ru/design2019/img/upload/card-chetchik-voda.jpg" alt="">
                                </a>

                            </div>
                            <a href="#">
                                <h3>Поверка и замена приборов учета воды <span></span></h3>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="ant029_shop-single_shop">
                            <div class="ant029_shop-project_link">
                                <a href="#" class="wow fadeIn" data-wow-delay=".2s">
                                    <img src="https://www.dvec.ru/design2019/img/upload/card-emontazh.jpg" alt="">
                                </a>

                            </div>
                            <a href="#">
                                <h3>Электромонтажные работы/услуги <span></span></h3>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="ant029_shop-single_shop">
                            <div class="ant029_shop-project_link">
                                <a href="#" class="wow fadeIn" data-wow-delay=".2s">
                                    <img src="https://www.dvec.ru/design2019/img/upload/card-okna.jpg" alt="">
                                </a>

                            </div>
                            <a href="#">
                                <h3>Ремонт и замена окон <span></span></h3>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="ant029_shop-single_shop">
                            <div class="ant029_shop-project_link">
                                <a href="#" class="wow fadeIn" data-wow-delay=".2s">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSw6OrYk4NdFmn_q5c8lD0bBNhbIHVA3EWRuw&s"
                                         alt="">
                                </a>

                            </div>
                            <a href="#">
                                <h3>Проведение типовых энергосервисных мероприятий . <span>(стоимость договорная)</span>
                                </h3>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="ant029_shop-single_shop">
                            <div class="ant029_shop-project_link">
                                <a href="#" class="wow fadeIn" data-wow-delay=".2s">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZGOseqewIZKCIDKpNZ3ntt5BavFs-3ii9uA&s"
                                         alt="">
                                </a>

                            </div>
                            <a href="#">
                                <h3>Проведение энергетического обследования . <span>(стоимость договорная)</span></h3>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="ant029_shop-single_shop">
                            <div class="ant029_shop-project_link">
                                <a href="#" class="wow fadeIn" data-wow-delay=".2s">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzh2C5-Av22lBvCd3A93BlWSf05UCyKZq5JQ&s"
                                         alt="">
                                </a>


                            </div>
                            <a href="#">
                                <h3>Инструментальное обследование энергетического хозяйства . <span>(стоимость договорная)</span>
                                </h3>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="ant029_shop-single_shop">
                            <div class="ant029_shop-project_link">
                                <a href="#" class="wow fadeIn" data-wow-delay=".2s">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpooKX-l22mY0CKdF-qhdRQpKcoRiZDis7-w&s"
                                         alt="">
                                </a>

                            </div>
                            <a href="#">
                                <h3>Проведение энергетического обследования с оформлением энергетического паспорта .
                                    <span>(стоимость договорная)</span></h3>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="ant029_shop-single_shop">
                            <div class="ant029_shop-project_link">
                                <a href="#" class="wow fadeIn" data-wow-delay=".2s">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_y3IHhY1wHQZrxtmMJ7ewh6TjgKSbKO8TBQ&s"
                                         alt="">
                                </a>


                            </div>
                            <a href="#">
                                <h3>Снижение объемов энергопотребления на общедомовые нужды . <span>(стоимость договорная)</span>
                                </h3>
                            </a>
                        </div>
                    </div>

                </div>
            </main>


        </div>
    </div>

</div>

<footer id="ant-section__ant007_footer" class="">

    <div class="container">
        <div class="row">

            <div class="col-lg-5 ant007_footer__foter-item-wrap">
                <div class="footer-item">

                    <img src="https://i.pinimg.com/originals/e9/66/b7/e966b7a2c6be0f6911c8e3148fe03aaf.gif"
                         style="height: 175px">

                    <p>HomeЯК - холдинговая компания и осуществляет корпоративное и стратегическое управление
                        собственными активами а также ремонтно-сервисными и непрофильными дочерними и зависимыми
                        обществами.</p>
                    <a href="/contacts" class="btn" title="Заказать звонок">Есть вопросы ? Обращайтесь</a>

                </div>
            </div>

            <div class="col-lg-2 col-md-4 ant007_footer__foter-item-wrap footer-col-2">
                <div class="footer-item">

                    <span>что мы можем</span>

                    <h6>Разделы</h6>

                    <ul class="footer-menu">
                        <li><a href="/services">Услуги</a></li>
                       <li> <a href="/main_site">Главная</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-4 ant007_footer__foter-item-wrap footer-col-3">
                <div class="footer-item">

                    <span>что мы НЕ можем</span>

                    <h6>разделы</h6>

                    <ul class="footer-menu">
                        <li><a href="/services">Услуги</a></li>
                        <li><a href="/main_site">Главная</a></li>
                        <li><a href="/news">Новости</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</footer>

<script type='text/javascript' src='js/jquery.js'></script>
<script type='text/javascript' src='js/jquery-migrate.min.js'></script>
<script type='text/javascript' src='js/bootstrap.min.js'></script>

<script src="./js/ant006_header.js"></script>


</body>

</html>